<a href="https://colab.research.google.com/github/Noufiya-N/Data-science-assignment/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user and compute the area

In [ ]:
r=int(input("radius of circle"))
a=3.14 * r * r
print(a)

radius of circle3
28.259999999999998

2. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [ ]:
name="anisha"
rollno =21
mark=78
print(name)
print(rollno)
print(mark)

anisha
21
78

3. Write a Python program to get the largest number from a list.

In [ ]:
list=[12,3,47,10]
print("Largest element is :", max(list))

Largest element is : 47

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
for i in range(1,11):
  previous_num=0
for current_num in range(1,11):
  sum=current_num + previous_num
  print(f"current_num: {current_num} , previous_num:{previous_num}:,sum: {sum}")
  previous_num=current_num

current_num: 1 , previous_num:0:,sum: 1
current_num: 2 , previous_num:1:,sum: 3
current_num: 3 , previous_num:2:,sum: 5
current_num: 4 , previous_num:3:,sum: 7
current_num: 5 , previous_num:4:,sum: 9
current_num: 6 , previous_num:5:,sum: 11
current_num: 7 , previous_num:6:,sum: 13
current_num: 8 , previous_num:7:,sum: 15
current_num: 9 , previous_num:8:,sum: 17
current_num: 10 , previous_num:9:,sum: 19

In [ ]:
number=[10,20,33,46,55]
for number in number:
  if number%5==0:
    print(number)

10
20
55

In [ ]:
number=5
if(number%i==0):
  print('5 is not prime')
else:
  print('5 is prime')

5 is prime

In [ ]:
list=[10,40,30,70]
list.reverse()
print(list)

[70, 30, 40, 10]

In [ ]:
row=4
for i in range(1,row+1):
  print('*' *i)

*
**
***
****

In [ ]:
a=34
b=12
c=7
d=max(a,b,c)
print(d)

34

In [ ]:
n=5
for i in range(1, n + 1):
  print('*'*i)
  for i in range(n - 1, 0, -1):
    print('*'*i)

*
****
***
**
*
**
****
***
**
*
***
****
***
**
*
****
****
***
**
*
*****
****
***
**
*